<h1>All tasks</h1>

<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task_path(task) %></h2>
  <p><%= task.detals %></p>
  <p><%= task.completed %></p>
  <%= link_to "Destroy #{task.title}", task_path(task), method: :delete, data: { confirm: "Are you sure?"} %>
<% end %>
